include _mixins
include _variables

block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        block metrics
        link(href=require('../assets/images/favicon.png') rel='shortcut icon' type='image/x-icon')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Marquiz script start
        script.
            (function(w, d, s, o){   var j = d.createElement(s); j.async = true; j.src = '//script.marquiz.ru/v2.js';j.onload = function() {     if (document.readyState !== 'loading') Marquiz.init(o);     else document.addEventListener("DOMContentLoaded", function() {       Marquiz.init(o);     });   };   d.head.insertBefore(j, d.head.firstElementChild); })(window, document, 'script', {     host: '//quiz.marquiz.ru',     region: 'eu',     id: '646629f283c00d002580f493',     autoOpen: false,     autoOpenFreq: 'once',     openOnExit: false,     disableOnMobile: false   } );
        // Marquiz script end

        link(href=require("../styles/normalize.css"), rel="stylesheet")
        link(href=require("../styles/style.scss"), rel="stylesheet")
        script(src='https://lidrekon.ru/slep/js/jquery.js' defer)
        script(src='https://lidrekon.ru/slep/js/uhpv-full.min.js' defer)
        block head
    body
        block body
        include _header
        block main
        include _footer
        // Marquiz script start
        script.
            (function (t, p) {
                window.Marquiz ? Marquiz.add([t, p]) : document.addEventListener('marquizLoaded', function () {
                    Marquiz.add([t, p])
                })
            })('Widget', {
                id: '646629f283c00d002580f493',
                position: 'right',
                delay: 40,
                autoOpen: 40,
                disableOnMobile: true,
                disableIfClosed: true
            })
        // Marquiz script end
