mixin enrollModal(classes, value)
    a.link_btn(class=classes target='_blank' onclick="FDPopup.open(196465,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href='https://formdesigner.ru/form/view/196465')= value