@import 'variables';

#header {
  display: flex;
  flex-wrap: wrap;
  height: $header-height;
  align-items: center;
  background: linear-gradient(90deg, #CB6100 0%, #F07C01 50%, #FF9E01 100%);
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: $header-height;
  padding-bottom: 10px;
}

.menu {
  position: absolute;
  bottom: -28px;
  width: 100%;
  border: none;
  background: none;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.48);
}

.header__contacts {
  text-align: right;
}

.header__worktime {
  display: block;
  font-size: 1.3rem;
}

.phone {
  font-size: 1.8rem;
  font-weight: 500;
}

.modal-nav {
  max-width: 200px;
  margin-inline: auto;
}

.nav__list {
  display: flex;
  gap: 20px; //18px со ссылками на соцсети
  flex-direction: column;
}

.nav__item {
  text-align: center;
}

.nav__link {
  font-size: 1.7rem;
  border-bottom: 1px solid transparent;
  transition: .2s;
  color: rgba(0, 0, 0, 0.7);
  &:hover {
    border-bottom: 2px solid #FC7101;
    color: #000;
  }
}

.special-color-1 .header__logo {
  content: url("../../assets/images/black-logo.webp");
}

#specialButton {
  display: block;
  margin-top: 10px;
  margin-left: auto;
}

@media screen and (min-width: $lg) {
  #header {
    background: transparent;
  }
}



