section#photos.bg_orange-gradient
    .container
        h2.h2.text-red.text-center Фотогалерея
        #photos__carousel.carousel.slide.d-block.d-md-none(data-bs-ride='carousel')
            .carousel-inner.actions__carousel-inner
                each photo, i in photos
                    .carousel-item(class= i ? '' : 'active')
                        .photos__box
                            img.photos__image(src=require('../../' + photo) alt='Фотография')
            .carousel-indicators
                each _, i in photos
                    button(class= i ? '' : 'active' type='button' data-bs-target='#photos__carousel' data-bs-slide-to=i aria-current='true' aria-label=`Слайд ${i}`)
            button.carousel-control-prev.d-none.d-md-block(type='button', data-bs-target='#photos__carousel', data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                    svg(width='21' height='59' viewBox='0 0 21 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M20.0362 1L0.999929 29.5' stroke='white' stroke-width='2')
                        path(d='M1.00009 29L20.0364 57.5' stroke='white' stroke-width='2')
                span.visually-hidden Предыдущий
            button.carousel-control-next.d-none.d-md-block(type='button', data-bs-target='#photos__carousel', data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                    svg(width='21' height='59' viewBox='0 0 21 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.963806 1L20.0001 29.5' stroke='white' stroke-width='2')
                        path(d='M19.9999 29L0.963644 57.5' stroke='white' stroke-width='2')
                span.visually-hidden Следующий
    .photos__container.d-none.d-md-flex.flex-md-wrap.justify-content-center
        each photo, i in photos
            .photos__box
                img.photos__image(src=require('../../' + photo) alt='Фотография')
