section#reviews
    .container
        h2.h2.text-center Отзывы
        #reviews__carousel.carousel.slide(data-bs-ride='carousel')
            .carousel-inner.actions__carousel-inner
                each review, i in reviews
                    .carousel-item(class= i ? '' : 'active')
                        .reviews__box
                            h3.h3= review.title
                            hr.reviews__line
                            p.reviews__description= review.description
            .carousel-indicators.indicators-light
                each _, i in reviews
                    button(class= i ? '' : 'active' type='button' data-bs-target='#reviews__carousel' data-bs-slide-to=i aria-current='true' aria-label=`Слайд ${i}`)
            button.carousel-control-prev.d-none.d-md-block(type='button', data-bs-target='#reviews__carousel', data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                    svg(width='21' height='59' viewBox='0 0 21 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M19.411 1L0.999958 29.5' stroke='#878787' stroke-width='2')
                        path(d='M0.999878 29L19.4109 57.5' stroke='#878787' stroke-width='2')
                span.visually-hidden Предыдущий
            button.carousel-control-next.d-none.d-md-block(type='button', data-bs-target='#reviews__carousel', data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                    svg(width='21' height='59' viewBox='0 0 21 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1.58899 1L20 29.5' stroke='#878787' stroke-width='2')
                        path(d='M20.0001 29L1.58907 57.5' stroke='#878787' stroke-width='2')
                span.visually-hidden Следующий
