#enroll {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(158 96 78 / 55%)), url('../../../assets/images/enroll-bg.jpg') no-repeat center;
  background-size: cover;
  padding-block: 50px;
}
