@import '../variables';

#facts {
  background: url('../../../assets/images/backgrounds/facts-bg.webp') no-repeat 50% 95%;
  background-size: 392px auto;
}

.facts__item {
  position: relative;
  padding: 3rem 1.4rem;
  width: 21rem;
  margin-inline: auto;
  height: 35rem;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    border: 3px solid transparent;
    background: linear-gradient(90deg, rgb(252, 113, 1), rgb(254, 232, 66)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.facts__description {
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.facts__image {
  display: block;
  height: 5rem;
  margin-bottom: 30px;
  margin-inline: auto;
}

@media screen and (min-width: $md) {
  .facts__list {
    width: 67rem;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1400px) {
  .facts__list {
    width: 100%;
  }
}

