@import '../variables';

.actions__description {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}

.actions__carousel-inner {
  margin-top: 40px;
  margin-bottom: -3px;
}

.actions__image {
  display: block;
  height: auto;
  width: 100%;
  margin-inline: auto;
}

.actions__link {
  margin-top: 30px;
}

@media screen and (min-width: $lg) {
  .actions__box {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-areas:
      'A B B'
      'C B B';
  }

  .action__text-box {
    grid-area: A;
  }

  #actions__carousel {
    grid-area: B;
  }

  .actions__link {
    grid-area: C;
  }
}

@media screen and (min-width: $md) {
  .actions__image {
    width: 75%;
    margin-inline: auto;
  }
}
