@import '../variables';

.faq__list {
  max-width: 840px;
  margin-inline: auto;
}

.faq__item {
  border: none;
  margin-bottom: 20px;
  background: none;
  border-bottom: 1px solid rgb(254, 148, 6) !important;
  &:not(:has(.collapsing, .show)) {
    border-bottom: 1px solid transparent !important;
  }
}

.faq__title {
  display: block;
  background: linear-gradient(67.84deg, #FC7101 0%, #FEE842 100%);
  margin-bottom: 0;
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  &:focus {
    box-shadow: none;
  }
  &:not(.collapsed) {
    color: #000;
    &::after {
      background-image: url("../../../assets/icons/accordion-arrow.svg");
      background-size: 100%;
    }
  }
  &::after {
    display: inline-block;
    margin-left: 14px;
    background-image: url("../../../assets/icons/accordion-arrow.svg");
    background-size: 100%;
  }
}

.faq__answer {
  border-inline: 1px solid rgb(254, 148, 6);
  padding: 10px 30px;
  text-align: center;
  font-size: 1.4rem;
}
