@import '../variables';

#topgir {
  background: url('../../../assets/images/backgrounds/autogir-bg.webp') no-repeat 50%;
  background-size: cover;
  padding-top: 53px;
  min-height: 680px;
  height: calc(100vh - $header-height);
}

.topgir__container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.h1 {
  text-align: center;
}

.h1_index {
  font-family: 'Gagalin', 'IBM Plex Sans', sans-serif;
  margin-top: 10%;
  margin-bottom: 20px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.3));
}

.topgir__description {
  font-size: 2rem;
  text-align: center;
}

.link_topgir {
  background: linear-gradient(90deg, #CC190E 0%, #8D2404 95%);
  font-size: 2.6rem;
  margin-block: 15px;
  &:hover {
    box-shadow: 0 0 10px #8D2404;
  }
}

.social-list__topgir {
  justify-content: center;
}

.topgir__enroll-box {
  margin-top: auto;
  margin-bottom: 50px;
}

.topgir__enroll-description {
  font-size: 1.4rem;
  text-align: center;
  color: rgba(255, 255, 255, .8);
}

@media screen and (min-width: $md) {
  #topgir {
    margin-top: -$header-height;
    padding-top: calc(53px + $header-height);
    height: 100vh;
  }
}

@media screen and (min-width: $lg) {
  #topgir {
    min-height: 750px;
  }

  .h1_index {
    margin-top: 20%;
  }

  .topgir__title-name {
    background: linear-gradient(180deg, #ad1610 0%, #ee1d10 95.33%);
    text-shadow: 0 0 0 4px #de1b0f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .special .topgir__title-name {
    -webkit-background-clip: inherit;
    background-clip: inherit;
    -webkit-text-fill-color: inherit;
    text-fill-color: inherit;
  }

  .topgir__description {
    width: 100%;
  }

  .topgir__enroll-box {
    margin-top: 8.6rem;
    margin-bottom: 50px;
  }
}
